/* ==========================================================================
   Class Names
   ========================================================================== */

/* DO
   ========================================================================== */

/*.camelCase {}

.camelCase__element {}

Use short element titles ('head' rather than 'heading')

for example
.camelCase__head {}
.camelCase__desc {}

.camelCase--modifier

for example
.camelCase--active{}*/


/* DO NOT
   ========================================================================== */

/*- don't use hyphens or underscores
.do-not-do-this {}
.do_not_do_this {}*/



/* ==========================================================================
   Specificity
   ========================================================================== */
/*
https://wiki.seamless.com.au/display/DR/CSS+Specificity
*/


/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/**
 * Short description using Doxygen-style comment format
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
 *
 * The long description is ideal for more detailed explanations and
 * documentation. It can include example HTML, URLs, or any other information
 * that is deemed necessary or useful.
 *
 * @tag This is a tag named 'tag'
 *
 * TODO: This is a todo statement that describes an atomic task to be completed
 *   at a later date. It wraps after 80 characters and following lines are
 *   indented by 2 spaces.
 */

/* SCSS set up

- auto Compile
- line numbers
- Compact Style

 */




/* ==========================================================================
   EXAMPLES
   ========================================================================== */

/*
.selector {
    /* Positioning * /
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* Display & Box Model * /
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid #333;
    margin: 10px;

    /* Other * /
    background: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    text-align: right;
}


.selector-1 {
    @extend .other-rule;
    @include clearfix();
    width: x-grid-unit(1);
    // other declarations
}
*/