/* ==========================================================================
   Tweaks & Helpers
   ========================================================================== */

.visuallyhidden { border: 0; clip: rect(0); height: 1px; overflow: hidden; position: absolute; width: 1px; margin: -1px; padding: 0; speak: normal !important; }

.lightbox__modal {
	display: none;
	position: fixed;
	z-index: 100;
	clear: both;
	width: 100%;
	left: 0;
	top: 20px;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media only screen and (min-width:765px) {
	.lightbox__modal {
		width: 80%;
		left: 10%;
		top: 100px;	
	}
}

.lightbox__screen {
	display: none;
	position: fixed;
	z-index: 10;
	background-color: #000;
	opacity: .5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.lightbox--active .lightbox__modal, .lightbox--active .lightbox__screen{
	display: block;
}
