/* ==========================================================================
   IE8 FIXES
   ========================================================================== */


/* Not completed due to time restraits 

- follows form of:
    .lt-ie9 .className{}

*/

.lt-ie9 .osite__header {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7d00', endColorstr='#c10c1a',GradientType=1 );
}

.lt-ie9 .icon-logo__origin {
    background-size: 92px 119px;
}