/* ==========================================================================
   Navigation
   ========================================================================== */

/* Not completed due to time restraits */

.topNav {
    position: relative;
    display:block;
    height: 40px;
    width: 100%;
    top:-40px;
    padding: 10px 15px;
    background-color: #FFF;
}

@media only screen and (min-width:765px) {
    .topNav {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 42px;
        background-color: rgba(255,255,255,0.4); /* IE8 can fallback to white rather than loading an image */
    }    
}

.topNav__list {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}

.topNav__item {
    color: #000;
    display: inline;
    margin-left: 8px;
    font-size: 1.4em; font-size: 1.4rem
}

@media only screen and (min-width:765px) {
    .topNav__item {
        margin-left: 10px;
    }
}   

.topNav__item--selected {
    margin-left: 0;
    float: left;
}

@media only screen and (min-width:765px) {
    .topNav__item--selected {
        float: none;
    }
} 


.topNav__link {
    color: #2A2A2A;
    text-decoration: none;
}

.topNav__link:hover, .topNav__link:focus {
    color: #000;
    text-decoration: underline;
}