/* ==========================================================================
   FORMS
   ========================================================================== */

.oform {
    margin: 0;
    padding:20px;
}

.oform__signup--inactive {display: none}

.oform__fieldset {
    border-width: 0;
    margin: 0;
    padding: 0; 
}

.oform__item {
    list-style: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-bottom: 1em
}

.oform__legend {
    display: block;
    float: none;
    padding-top: 40px;
    font-family: $font-family;
    font-size: 1.6em; font-size: 1.6rem;
    text-align: center;
    line-height: 2em;
    color: $text-color;
    
}

.oform__label {
    font-family: $font-family;
    text-align: center;
    line-height: 1.75em;
    color: $text-color;
}

.oform__input {
    @extend %input-placeholder;
    display: block;
    clear: both;
    margin: 0 auto;
}

@media only screen and (min-width:765px) {
    .oform__input {
    }   
}

.oform__input::-webkit-input-placeholder {
    opacity: 1;
    color: $o-orange;
}

.oform__input:-moz-placeholder {
    opacity: 1;
    color: $o-orange;
}

.oform__input::-moz-placeholder {
    opacity: 1;
    color: $o-orange;
}

.oform__input:-ms-input-placeholder {
    color: $o-orange;
}

.oform__input--invalid {
    border-color: $error-color;
}

.oform__input--invalid::-webkit-input-placeholder {
    opacity: 1;
    color: $error-color;
}

.oform__input--invalid:-moz-placeholder {
    opacity: 1;
    color: $error-color;
}

.oform__input--invalid::-moz-placeholder {
    opacity: 1;
    color: $error-color;
}

.oform__input--invalid:-ms-input-placeholder {
    color: $error-color;
}

label.oform__input--invalid {
    display: block;
    font-size: 1em; font-size: 1rem;
    padding-top: 5px;
    text-transform: uppercase;
    color: $error-color;

}

.oform__submit {
    @extend %input-placeholder;
    background-color: $o-orange;
    color: #FFF;
}

.oform__submit:hover, .oform__submit:focus {
    background-color: #FFF;
    color: $o-orange;
}

@media only screen and (min-width:765px) {
    .oform__submit {
    }   
}


/* Thanks
   ========================================================================== */

.oform__thankyou {
    display: none;
    padding:40px;
}
.oform__thankyou--active  {display: block;}


/* Buttons
   ========================================================================== */

.button {
    @extend %button-placeholder;
}

.button:hover, .button:focus {
    background-color: $o-orange;
    color: #FFF;
} 

.button:after {
    content: " ";
    display: inline-block;
    position: relative;
    top:3px;
    width:20px;
    height: 24px;
    margin-left: 5px;

    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23EE7E22%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;  
}

@media only screen and (min-width:765px) {
    .button:after {
        width:22px;
        height: 26px;
    }   
}

.button:hover:after, .button:focus:after {
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
}

.no-svg .button:after { /* PNG version */}

.button__signup {
    margin: 0 auto;
    display: block;
    width: 100%;
}

@media only screen and (min-width:765px) {
    .button__signup {
        width: 7em;
    }   
}

.button--header {
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 2.1em; font-size: 2.1rem;
    line-height: 44px;
    height: 48px;
    width:90%;
}

.button--header:hover, .button--header:focus {
    background-color: #FFF;
    color:$o-red;
}

@media only screen and (min-width:765px) {
    .button--header {
        position: absolute;
        right:58px;
        top:170px;
        width: 7.5em;
    }
}

@media only screen and (min-width:980px) {
    .button--header {
        right:102px;
    }
}

.button--header:after {
    width:18px;
    height: 22px;
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
}

.button--header:hover:after, .button--header:focus:after {
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23C10C1A%22%2F%3E%3C%2Fsvg%3E');
}

.button--compare {
    border: 2px solid #FFF;
    color: #FFF;
    width:100%;
    font-size: 1.4em; font-size: 1.4rem;
    line-height: 28px;
    height:32px;

}

@media only screen and (min-width:765px) {
    .button--compare {
        width: 8.85em;
    }
}

.button--compare:hover, .button--compare:focus {
    background-color: #FFF;
    color:$text-color;
}

.button--compare:after {
    width:12px;
    height: 16px;
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
}

.button--compare:hover:after, .button--compare:focus:after {
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23555555%22%2F%3E%3C%2Fsvg%3E');
}

.button--ad {
    border: 2px solid $o-green;
    color: $o-green;
    width:100%;
    font-size: 1.4em; font-size: 1.4rem;
    line-height: 28px;
    height:32px;

}

@media only screen and (min-width:765px) {
    .button--ad {
        width: 12em;
    }
}

.button--ad:hover, .button--ad:focus {
    background-color: $o-green;
    color:#EDF1DA;
}

.button--ad:after {
    width:12px;
    height: 16px;
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23A5BB48%22%2F%3E%3C%2Fsvg%3E');
}

.button--ad:hover:after, .button--ad:focus:after {
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20id%3D%22arrow-Layer_1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%2032%2032%22%20version%3D%221.1%22%20y%3D%220px%22%20x%3D%220px%22%20enable-background%3D%22new%200%200%2032%2032%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cpolygon%20points%3D%2210.4%2031.9%206.8%2028.4%2019.2%2016%206.8%203.6%2010.3%200.1%2026.3%2016%22%20fill%3D%22%23EDF1DA%22%2F%3E%3C%2Fsvg%3E');
}