// /* ==========================================================================
//    VARIABLES
//    ========================================================================== */

// /* Colours
//    ========================================================================== */
$o-orange:#EF7D00;
$o-red:#C10C1A;
$o-green:#A5BB48;
$o-blue:#62B5E5;

$o-green-dark:#007632;

$body-bg:#FFF;

// $link-color:$o-orange;
// $link-hover:darken($o-orange, 20%);
$text-color: #555555;
$panel-background: #F4F4F4;
$panel-highlight: #555555;

// /*fonts*/
$font-family: 'Open Sans', Arial, sans-serif;
$font-family-highlight: 'HouschkaAltPro', Arial, sans-serif; 

// /*forms*/
$input-bg:$body-bg;
$input-color:$o-orange;

$error-color: #c10c1a;