/* ==========================================================================
   GRID
   ========================================================================== */


@media only screen and (min-width:765px) {
	.container {	}

	.container:after{clear:both;content:"";display:table}

	.col-5 {
		float:left;
		width: 50%
	}

	.col-first {
		border-right: 1px solid #E2E2E2
	}

}

@media only screen and (min-width:980px) {
    .container {
        position: relative;
        width:980px;
        margin:0 auto;
        clear:both;
    }
}