// /* ==========================================================================
//    MIXINS
//    ========================================================================== */
// /*    mixins or extend: 
//     http://roytomeij.com/blog/2013/should-you-use-a-sass-mixin-or-extend.html 
// */




// /* UI Fonts and/or Icons
//    ========================================================================== */


/* icon */
%icon {
    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
}

%icon-after {
    content: " ";
    position: relative;

    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
}


// /* Placeholders
//    ========================================================================== */

// /* Form items */


%button-placeholder {
    display: inline-block;
    width: 100%;
    padding: 0 15px; 
    font: 600 2.1em/42px $font-family-highlight;
    font-size: 2.1rem;
    height: 48px;
    text-align: center;
    color: $o-orange;
    border: 3px solid $o-orange;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width:765px) {
    %button-placeholder {
        width: auto;
        font-size: 2.8em; font-size: 2.8rem;
        line-height: 58px;
        height: 64px;
    }    
}

%input-placeholder {
    width: 100%;
    padding: 0 20px; 
    font: 600 1.8em/2 $font-family-highlight;
    font-size: 1.8rem;
    text-align: left;
    color: $o-orange;
    border: 3px solid $o-orange;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width:765px) {
    %input-placeholder {
        width: 15em;
    }    
}