/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

/* Fonts
   ========================================================================== */

@font-face {
    font-family: 'HouschkaAltPro';
    src: url('../fonts/houschkaaltpro-bold-web.eot');
    src: url('../fonts/houschkaaltpro-bold-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/houschkaaltpro-bold-web.woff') format('woff'),
         url('../fonts/houschkaaltpro-bold-web.ttf') format('truetype'),
         url('../fonts/houschkaaltpro-bold-web.svg#HouschkaAltProBold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'HouschkaAltPro';
    src: url('../fonts/houschkaaltpro-demibold-web.eot');
    src: url('../fonts/houschkaaltpro-demibold-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/houschkaaltpro-demibold-web.woff') format('woff'),
         url('../fonts/houschkaaltpro-demibold-web.ttf') format('truetype'),
         url('../fonts/houschkaaltpro-demibold-web.svg#HouschkaAltProDemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaAltPro';
    src: url('../fonts/houschkaaltpro-light-web.eot');
    src: url('../fonts/houschkaaltpro-light-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/houschkaaltpro-light-web.woff') format('woff'),
         url('../fonts/houschkaaltpro-light-web.ttf') format('truetype'),
         url('../fonts/houschkaaltpro-light-web.svg#HouschkaAltProLight') format('svg');
    font-weight: 300;
    font-style: normal;
}


/* Typography
   ========================================================================== */

a {
    color: $o-orange;
}

/* Heading Neuter */
h1, h2, h3, h4 {
    font-family: $font-family;
    font-weight: 400;
    margin: 0;
}